body {
  background-color: #212121;
}
.main {
  position: relative;
  max-width: 75%;
  background-color: #212b2d;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -25px;
  height: 1000px;
}
.hero-image {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 30px;
  position: relative;
  background-image: url("rsz_img-20221129-wa0019.jpg");
  height: 22%;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-text {
  font-size: 12px;
  position: absolute;
  margin-left: 150px;
  margin-top: 75px;

  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 20px;
}
nav {
  background-color: #333d3f;
  padding: 15px;
  margin-left: 15.5%;
  margin-right: 15.5%;
}
nav ul {
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
}
nav li {
  width: 16.333333%;
  display: inline-block;
  font-size: 18px;
}
.navbar li {
  border-left-style: solid;
  border-color: #79878c;
  border-width: 1px;
}
nav li a {
  text-decoration: none;
  color: #84898c;
}
section {
  background-color: #212b2d;

  height: 670px;
  margin-left: 15.5%;
  margin-right: 15.5%;

  border-bottom-style: solid;
  border-color: #79878c;
  border-width: 2px;
}
h2 {
  color: #84898c;
  font-size: 30px;
  margin-left: -15px;
}
.main-menu {
  position: relative;
  margin-left: 50px;
  max-width: 180px;
}
.main-menu li a {
  color: #84898c;
}
.gallery {
  max-width: 550px;
  height: 260px;
  margin-left: 30%;
  margin-top: -295px;
  color: #84898c;
}
h3 {
  font-size: 30px;
  margin-left: 35px;
}
.gallery p {
  border-top-style: solid;
  border-color: #79878c;
  border-width: 2px;
  padding: 20px;
}
.block {
  color: #84898c;
  position: relative;
  margin-left: 30px;
  max-width: 180px;
  margin-top: -35px;
}

h4 {
  margin-left: 20px;
  margin-top: 50px;
  font-size: 30px;
}
.sub {
  color: #84898c;

  width: 260px;
  height: 300px;
  margin-left: 260px;
  margin-top: -270px;
}
h5,
h6 {
  font-size: 30px;
}
.os {
  color: #84898c;

  width: 260px;
  height: 300px;
  margin-left: 560px;
  margin-top: -350px;
  border-left-style: solid;
  border-color: #79878c;
  border-width: 2px;
  padding-left: 20px;
  word-wrap: break-word;
}

.sub a {
  text-decoration: none;
  color: black;

  background-color: #98aaae;
}
.os a {
  text-decoration: none;
  color: black;

  background-color: #98aaae;
}
label {
  color: #84898c;
}
.submit {
  width: 150px;
  height: 150px;

  margin-top: -8%;
  margin-left: 30px;
}
footer {
  text-align: center;
  color: #84898c;
}
